[Unit]
Description=Qubes memory information reporter
After=qubes-core.service

[Service]
Type=simple
ExecStart=/usr/lib/qubes/meminfo-writer 30000 100000
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
