[Unit]
Description=Qubes block device cleaner (xen front/back)
After=qubes-core.service

[Service]
ExecStart=/usr/lib/qubes/block-cleaner-daemon.py
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
