[Unit]
Description=Qubes misc post-boot actions
After=qubes-dvm.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/qubes/init/misc-post.sh
ExecStop=/usr/lib/qubes/init/misc-post-stop.sh

[Install]
WantedBy=multi-user.target
