[Unit]
Names=qubes_firewall.service
Description=Qubes network forwarding setup
ConditionPathExists=/var/run/qubes-service/qubes-network

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/ethtool -K eth0 sg off
ExecStart=/usr/lib/qubes/init/network-proxy-setup.sh
StandardOutput=syslog

[Install]
WantedBy=network.target
