[Unit]
Description=Qubes firewall updater
ConditionPathExists=/var/run/qubes-service/qubes-firewall

[Service]
ExecStart=/usr/sbin/qubes_firewall
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
