[Unit]
Description=Preload Qubes DispVMs
ConditionKernelCommandLine=!qubes.skip_autostart
# After qmemman so the daemon can create the file containing available memory.
After=qubes-qmemman.service

[Service]
Type=oneshot
ExecStart=/usr/lib/qubes/preload-dispvm
Group=qubes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
