[Unit]
Description=Qubes OS daemon
Before=systemd-user-sessions.service

[Service]
Type=notify
ExecStart=/usr/bin/qubesd
StandardOutput=syslog
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
