[Unit]
Description=Start Qubes VM %i
Before=systemd-user-sessions.service
After=qubesd.service qubes-meminfo-writer-dom0.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/qvm-start --skip-if-running %i
Group=qubes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
