[Unit]
Description=Qubes OS daemon

[Service]
Type=notify
ExecStart=/usr/bin/qubesd
StandardOutput=syslog
KillMode=process
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
