[Unit]
Description=Start Qubes VM %i
After=qubesd.service qubes-meminfo-writer-dom0.service
ConditionKernelCommandLine=!qubes.skip_autostart

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/qvm-start --skip-if-running %i
Group=qubes
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
