[Unit]
Description=Qubes DispVM startup setup
After=qubes-core.service

[Service]
Type=oneshot
ExecStart=/usr/lib/qubes/startup-dvm.sh

[Install]
WantedBy=multi-user.target
# Cover legacy init.d script
Alias=qubes_setupdvm.service
