[Unit]
Description=Qubes OS daemon

[Service]
Type=notify
ExecStart=/usr/bin/qubesd
StandardOutput=syslog
KillMode=process

[Install]
WantedBy=multi-user.target
