[Unit]
Description=Qubes memory management daemon

[Service]
Type=notify
ExecStart=/usr/bin/qmemmand
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
