[Unit]
Description=Qubes Dom0 startup setup
After=qubes-db-dom0.service libvirtd.service xenconsoled.service
# Cover legacy init.d script

[Service]
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes
# Needed to avoid rebooting before all VMs have shut down.
TimeoutStopSec=180
ExecStart=/usr/lib/qubes/startup-misc.sh
ExecStop=/usr/bin/qvm-shutdown -q --all --wait
# QubesDB daemons stop after 60s timeout in worst case; speed it up, since no
# VMs are running now
ExecStop=-/usr/bin/killall qubesdb-daemon

[Install]
WantedBy=multi-user.target
Also=qubes-meminfo-writer-dom0.service qubes-qmemman.service
Alias=qubes_core.service
