[Unit]
Description=Qubes memory management daemon
After=qubes-core.service

[Service]
Type=notify
ExecStart=/usr/lib/qubes/qmemman_daemon.py
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
