[Unit]
Description=Start Qubes VM %i
After=qubesd.service qubes-meminfo-writer-dom0.service
Before=qubes-preload-dispvm.service
ConditionKernelCommandLine=!qubes.skip_autostart

[Service]
Type=oneshot
ExecStart=/usr/bin/qvm-start --skip-if-running -- %i
Group=qubes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
